<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845671012009-aebc2isqbk85l84b744o83tdon1pq009.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845671012009-aebc2isqbk85l84b744o83tdon1pq009</string>
	<key>API_KEY</key>
	<string>AIzaSyBV-Hz2rWDbxxmCz--4zqgNQKj4zdiqITo</string>
	<key>GCM_SENDER_ID</key>
	<string>845671012009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.laseralarm</string>
	<key>PROJECT_ID</key>
	<string>security-system-bf13f</string>
	<key>STORAGE_BUCKET</key>
	<string>security-system-bf13f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845671012009:ios:34f81d7863544e1d007bb8</string>
</dict>
</plist>